parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$children of method Knp\\\\Menu\\\\ItemInterface\\:\\:setChildren\\(\\) expects array\\<int\\|string, Knp\\\\Menu\\\\ItemInterface\\>, array\\<Knp\\\\Menu\\\\ItemInterface\\>\\|false given\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Possibly invalid array key type Knp\\\\Menu\\\\ItemInterface\\|string\\.$#"
			count: 3
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Binary operation \"\\.\" between 'Cannot find…' and Knp\\\\Menu\\\\ItemInterface\\|string results in an error\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Method Knp\\\\Menu\\\\MenuItem\\:\\:getFirstChild\\(\\) should return Knp\\\\Menu\\\\ItemInterface but returns Knp\\\\Menu\\\\ItemInterface\\|false\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Method Knp\\\\Menu\\\\MenuItem\\:\\:getLastChild\\(\\) should return Knp\\\\Menu\\\\ItemInterface but returns Knp\\\\Menu\\\\ItemInterface\\|false\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Cannot call method getLastChild\\(\\) on Knp\\\\Menu\\\\ItemInterface\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Cannot call method getFirstChild\\(\\) on Knp\\\\Menu\\\\ItemInterface\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Cannot call method getChildren\\(\\) on Knp\\\\Menu\\\\ItemInterface\\|null\\.$#"
			count: 2
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Method Knp\\\\Menu\\\\MenuItem\\:\\:getIterator\\(\\) should return Traversable\\<string, Knp\\\\Menu\\\\ItemInterface\\> but returns ArrayIterator\\<int\\|string, Knp\\\\Menu\\\\ItemInterface\\>\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Parameter \\#1 \\$name of method Knp\\\\Menu\\\\MenuItem\\:\\:getChild\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Parameter \\#1 \\$name of method Knp\\\\Menu\\\\MenuItem\\:\\:removeChild\\(\\) expects Knp\\\\Menu\\\\ItemInterface\\|string, int\\|string given\\.$#"
			count: 1
			path: src/Knp/Menu/MenuItem.php

		-
			message: "#^Parameter \\#1 \\$value of method Knp\\\\Menu\\\\Renderer\\\\Renderer\\:\\:escape\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Knp/Menu/Renderer/ListRenderer.php

		-
			message: "#^Parameter \\#2 \\$multiplier of function str_repeat expects int, int\\|string given\\.$#"
			count: 1
			path: src/Knp/Menu/Renderer/ListRenderer.php

		-
			message: "#^Parameter \\#1 \\$value of method Knp\\\\Menu\\\\Renderer\\\\Renderer\\:\\:escape\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Knp/Menu/Renderer/Renderer.php

		-
			message: "#^Method Knp\\\\Menu\\\\Renderer\\\\Renderer\\:\\:fixDoubleEscape\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/Renderer/Renderer.php

		-
			message: "#^Cannot call method isCurrent\\(\\) on Knp\\\\Menu\\\\Matcher\\\\MatcherInterface\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/Twig/Helper.php

		-
			message: "#^Cannot call method isAncestor\\(\\) on Knp\\\\Menu\\\\Matcher\\\\MatcherInterface\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/Twig/Helper.php

		-
			message: "#^Parameter \\#1 \\$item of method Knp\\\\Menu\\\\Util\\\\MenuManipulator\\:\\:moveChildToPosition\\(\\) expects Knp\\\\Menu\\\\ItemInterface, Knp\\\\Menu\\\\ItemInterface\\|null given\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Cannot call method count\\(\\) on Knp\\\\Menu\\\\ItemInterface\\|null\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Parameter \\#2 \\$offset of function array_slice expects int, float\\|int\\|string\\|false given\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Parameter \\#3 \\$length of function array_slice expects int\\|null, float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Method Knp\\\\Menu\\\\Util\\\\MenuManipulator\\:\\:getBreadcrumbsArray\\(\\) should return array\\<int, array\\('label' \\=\\> string, 'uri' \\=\\> string\\|null, 'item' \\=\\> Knp\\\\Menu\\\\ItemInterface\\|null\\)\\> but returns array\\<int, array\\('label' \\=\\> string\\|null, 'uri' \\=\\> string\\|null, 'item' \\=\\> Knp\\\\Menu\\\\ItemInterface\\|null\\)\\>&nonEmpty\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Method Knp\\\\Menu\\\\Util\\\\MenuManipulator\\:\\:getBreadcrumbsArray\\(\\) should return array\\<int, array\\('label' \\=\\> string, 'uri' \\=\\> string\\|null, 'item' \\=\\> Knp\\\\Menu\\\\ItemInterface\\|null\\)\\> but returns array\\<int, array\\>\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

		-
			message: "#^Method Knp\\\\Menu\\\\Util\\\\MenuManipulator\\:\\:buildBreadcrumbsArray\\(\\) should return array\\<int, array\\('label' \\=\\> string, 'uri' \\=\\> string\\|null, 'item' \\=\\> Knp\\\\Menu\\\\ItemInterface\\|null\\)\\> but returns array\\<int, array\\('label' \\=\\> string\\|null, 'uri' \\=\\> string\\|null, 'item' \\=\\> Knp\\\\Menu\\\\ItemInterface\\)\\>&nonEmpty\\.$#"
			count: 1
			path: src/Knp/Menu/Util/MenuManipulator.php

