<?php

$twig = __DIR__.'/../vendor/twig/lib/Twig/Autoloader.php';
if (file_exists($twig)) {
    require_once $twig;
    Twig_Autoloader::register();
}

$pimple = __DIR__.'/../vendor/pimple/lib/Pimple.php';
if (file_exists($pimple)) {
    require_once $pimple;
}

spl_autoload_register(function($class) {
    $namespaces = array('Knp\Menu\Tests' => __DIR__, 'Knp\Menu' => __DIR__.'/../src', 'Symfony' => __DIR__.'/../vendor/');
    $class = ltrim($class, '\\');
    foreach ($namespaces as $namespace => $dir) {
        if (0 === strpos($class, $namespace)) {
            $file = $dir.'/'.str_replace('\\', '/', $class).'.php';
            if (file_exists($file)) {
                require $file;
            }
        }
    }
});
